body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 80%;
}

h1 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
}

.iteration-control {
    grid-column: span 2;
    text-align: center;
}

.iteration-control button {
    margin: 5px;
}

.input-control {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
}

.input-control label {
    margin-right: 10px;
}

.input-control input {
    padding: 5px;
    font-size: 16px;
    width: 60px;
    text-align: center;
}

.code-window, .visual-window, .memory-window {
    flex: 1;
    margin: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


.code-window h3, .visual-window h3, .memory-window h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.code-window pre {
    text-align: left;
    margin: 0;
}

.code-window span {
    display: inline;
    padding: 0 0;
}

.highlight-arrow {
    stroke: red !important;
}

.highlight-text {
    fill: red !important;
    color: red !important;
}


.highlight {
    background-color: yellow;
    outline: 2px solid #ff6a00;
    outline-offset: 1.5px;
}

pre, code {
    font-size: 18px; /* Increase font size as needed */
    line-height: 2; /* Optional: Improve readability with increased line height */
    font-family: 'Courier New', Courier, monospace; /* Ensure it's a monospaced font */
}

pre {
    text-align: left; /* Aligns text to the left */
    margin: 0; /* Removes default margin */
    padding: 10px 0; /* Removes default padding */
}

.visual-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-window {
    grid-column: span 2;
    text-align: center;
}

.memory-block {
    display: flex;
    align-items: center;
    margin: 10px;
}

.variable-name {
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
}

.variable-name-hl {
    background-color: yellow;
    outline: 3px solid #ff6a00;
    padding: 10px;
    border-radius: 5px;
}

.pointer {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 0 10px;
    position: relative;
}

.pointer::after {
    content: '';
    position: absolute;
    top: -5px;
    right: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.memory-value {
    background-color: #e8e8e8;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    min-width: 40px;
    text-align: center;
}

button {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#interactive-element {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.light-blue {
    background-color: lightblue !important;
}

.visual-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#visual {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-gap: 5px;
}

.visual-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #ffe;
    border-radius: 5px;
    position: relative;
}

.visual-box.light-blue {
    background-color: lightblue;
}

.nested-list {
    display: flex;
    flex-direction: column;
}

.inner-list {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.list-index {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.index-value {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: small;
    color: gray;
}

.visual-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #ffe;
    border-radius: 5px;
    position: relative;
    margin: 5px;
}


.visual-title {
    text-align: center; /* Center the title horizontally */
    margin: 0; /* Remove any default margin */
    position: absolute;
    top: 20px; /* Pin the title to the top */
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.highlight-box {
    background-color: lightblue;
}

.index-value {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: small;
    color: gray;
}

.visual-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
   
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black; /* Changed from border-top to border-bottom */
    position: absolute;
    bottom: -25px; /* Position the arrow outside the box */
}

.basket-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ffe;
}

.basket-top {
    width: 60px;
    height: 20px;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: rgb(234, 174, 101);
    position: absolute;
    top: -20px;
}

.basket-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
}

.basket-value {
    font-weight: bold;
    font-size: 16px;
}

.nested-list {
    display: flex;
    align-items: center;
}

.variable-name {
    background-color: #e8e8e8;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid black;
    margin-right: 10px;
    position: relative;
}

.list-container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid #cc0;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    position: relative;
}

.list-index {
    background-color: #c9c9c9;
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    margin: 5px 0;
}

.list-value {
    background-color: #e8e8e8;
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
}

.lined-paper {
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 1px solid #ccc; /* Optional for better visibility */
}

.index {
    font-weight: bold;
    margin-right: 10px;
}

.value {
    background-color: #e6f7ff;
}



#pencil-image {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: -10; /* Adjust as needed */
    width: 140px; /* Adjust size as needed */
    height: auto;
    z-index: 10; /* Make sure it's above the paper */
    margin-right: 30px;
    margin-left: 80px;
    margin-top: -30px;

}

.conveyor-belt-wrapper {
    display: flex;
    align-items: center; /* Align the conveyor belt and total box vertically */
    
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 106px;
    
    
}


.total-box {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Same height as the conveyor belt */
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-right: 30px; /* Add some space between the total box and conveyor belt */
    position: relative;
    margin-top: -10px;
    
    
}

.total-box-image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ensures the image covers the box area properly */
    position: absolute;
    top: 0;
    left: 0;
   
    z-index: 1;
   
}

.total-value {
    position: absolute;
    z-index: 2;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Makes text stand out on the image */
    top: 2px;
    right: 30px;
}

.conveyor-belt {
    display: flex;
    justify-content: space-around;
    /* Align items to the top */
    background-image: url('belt.png'); /* Background image for the conveyor belt */
    background-size: cover;
    height: 150px;
    width: 570px;
    
    
}



.box {
    background-color: None;
    width: 60px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 20px;
    
    
}

.box-image {
    width: 110px;
    height: 140px;
    /* margin-bottom: 10px; */
   
}

.index {
    font-size: 14px;
    color: #333;
}



.highlight-item {
    background-color: #ffff99; /* Light yellow highlight */
    border: 3px solid #ff6a00;
}



/* Highlight visited item index */
.highlight-visited {
    background-color: #e8e8e8;
    border: 1px solid #000000;
    color: #000000; /* Highlight visited items in green */
    
}


.highlight-item-index {
    background-color: yellow; /* Light yellow highlight */
    border: 3px solid #ff6a00; /* Yellow border */
}



/* Highlight visited item index */
.highlight-visited-index {
    background-color: #e8e8e8;
    border: 1px solid #000000;
    color: #000000; /* Highlight visited items in green */
    
}

.variable {
    font-family: 'Courier New', Courier, monospace; /* Example font */
    color:#ff6a00
}

.step-explanation {
    background-color: #e4edef;
    color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #ffffff; /* Green background */
    border: none; /* Remove borders */
    color: rgb(0, 0, 0); /* White text */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the buttons to align properly */
    font-size: 16px; /* Increase font size */
    font-weight: bold;
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s; /* Smooth transitions */
    outline: 2px solid rgba(0, 0, 0, 0.2); /* Add outline */
}

button:hover {
    background-color: #bdd5d7; /* Darker green on hover */
}

button:active {
    background-color: #e4edef; /* Even darker when clicked */
    box-shadow: 0 2px #666; /* Reduce shadow when clicked */
    transform: translateY(2px); /* Move button down on click */
}


.conveyor-belt-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.conveyor-belt {
    display: flex;
    gap: 10px;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-image {
    width: 100px; /* Size of the basket */
}

.basket-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Smaller gap for better spacing in the basket */
}

.basket-item {
    width: 40px; /* Smaller box size for basket items */
}

.basket-item .box-image {
    width: 100%; /* Image size matches the basket item size */
    height: auto;
}
  
  
  
